.game-row{
    height: 200px;
    margin-top: 5px;
}

.char-pic{
    max-width: 125px;
    margin-top: 15px;
    margin-bottom: 5px;
    border:solid 1px black;
    border-radius: 3px;
}

.char{
    float: left;
    height: 150px;
    width: 150px;
    border: solid 1.5px black;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.player{
    color: white;
    background-color: green;
}

.enemy{
    color: white;
    background-color: gray;
}

.defender{
    color: white;
    background-color: red;
}